* {
  font-size: 13px;
}

body {
  font-family: 'Comfortaa', cursive;
  background: #dedfe0;
}

/* - Hide arrows in input type Number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button {
  min-width: 100px;
}

.btn-warning {
  background-color: #036652 !important;
}

button:hover {
  background-color: rgb(103, 197, 197) !important;
}

.bg-flat-gray {
  background-color: #34495e !important;
  color: white;
}

.bg-light-gray {
  background-color: #ecf0f1 !important;
}

.col-4, .col-3, .p2px {
  padding: 4px !important;
}

.col-8 {
  text-align: center !important;
  max-width: 400px;
}

input {
  min-width: 70px !important;
  text-align: center;
  margin-bottom: 5px;
}

.col-4 {
  max-width: 200px;
}

/* On small Screens */
@media screen and (max-width: 768px) {
  .sm-flex-direction {
    flex-direction: column !important;
    margin-bottom: 6px !important;
  }
  .col-4, .col-8 {
    width: 100% !important;
    max-width: 400px;
    margin: auto;
    padding:inherit;
    text-align: center !important;
  }
  .col-3 {
    max-width: 25% !important;
  }
}

.faster-one {
  font-family: 'Faster One' !important;
}

.red {
  color: #eb2f06;
  font-size: 18px !important;
}

.yellow {
  color: #f6b93b;
  font-size: 18px !important;
}

.green {
  color: #78e08f;
  font-size: 18px !important;
}